# 注册模块镜像
registry=https://registry.npmmirror.com/

# # node-gyp 编译依赖的 node 源码镜像
disturl=https://npmmirror.com/dist

# # node-inspector
# profiler_binary_host_mirror=http://npmmirror.com/mirrors/node-inspector/

# # chromedriver 二进制包镜像
# chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver

# # operadriver 二进制包镜像
# operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver

# # phantomjs 二进制包镜像
# phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs

# # node-sass 二进制包镜像
# SASS_BINARY_SITE=https://npmmirror.com/mirrors/node-sass

# # electron 二进制包镜像
# ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
# # electron-builder
# ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
# electron-rebuild

