autopep8==1.6.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
idna==3.3
ImageHash==4.2.1
numpy==1.21.4
Pillow==8.4.0
pycodestyle==2.8.0
PyWavelets==1.1.1
requests==2.26.0
scipy==1.7.2
six==1.16.0
toml==0.10.2
urllib3==1.26.7
